@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  /* My Solution */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* Provided Solution */

/* body {
  display: flex;
  flex-direction: column;
}

button {
  padding: 8px 16px;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

a {
  color: #666;
  text-decoration: none;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.footer {
  background: #eee;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px
} */

/* My Solution */

.header {
  display: flex;
  justify-content: space-between;
}

.header a {
  text-decoration: none;
  color: gray;
}

.header ul {
  list-style-type: none;
  padding: 0px 16px;
  display: flex;
  gap: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.buttons button {
  padding: 8px 16px;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
}

.footer a {
  text-decoration: none;
  color: gray;
}

.footer ul {
  list-style-type: none;
  padding: 0px 16px;
  display: flex;
  gap: 16px;
}

/* After comparing with the solution, all in all, what I had was almost exactly the same. I used justify-content:space-between to get the footer to the bottom but they used flex:1 on .content which evaluates to flex-grow:1, flex-shrink:1, flex-basis:0%. Since there is only one element, the content would take up 100% of the share. Additionally, when flex-basis:0% -- 

"...with flex-basis: 0%, the <section> element has an initial main size of 300px because, as the flex container doesn't have a set height, the percentage flex-basis values resolve to the content value."
Source: https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/flex-basis#flex_basis_0_vs_0

I could have also condensed the styles for the header and footer into one declaration because they do share a lot of overlap.*/