body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  /* My Styles  - all correct */
  display: flex;
  flex-direction: column;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  /* My Styles - all correct */
  font-size: 36px; /* Should be 32px from solution but that's fine */
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-weight: 900;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  /* My Styles - all correct */
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;

  /* My Styles - some dumb mistakes but overall all correct*/
  /* width: 250px; LOL the width was defined above*/
  flex-grow: 0 0 0%; /* Instead of "flex-grow" this should be "flex"... and I defined it that way*/
  padding-left: 16px; /* Solution had padding all around*/

  /* Solution Styles */
  /* flex-shrink: 0;
  padding: 16px; */
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  /* My Styles - all correct*/
  width: 300px;
  padding: 12px; /* Solution had padding of 16px but 12px is close enough */
}

/* My Styles */

a {
  /* all correct */
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.container {
  /* Called .body in solution but all correct */
  display: flex;
  flex: 1;
}

.card-container {
  /* Called .container in solution */
  /* flex-grow: 4;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 70%;
  max-width: 1200px;
  padding: 48px;
  gap: 16px; */

  /* Solution Styles */
  /* Ohhh it's supposed to wrap to 4 when there's space. I thought it was just supposed to end at 3 which is why I added a max width. */
  /* Also, because I tried some weird things with trying to get the card container to take up the remaining width after the sidebar. I can't remember what worked but I think it ended up being something that didn't need that...? */
  padding: 48px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.sidebar ul {
  /* They added margin:0 in the solution but otherwise all correct. */
  list-style-type: none;
  padding: 0;
}